<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="main.css" href="stylsheet">
</head>
<body>
    <div id="app">
        <!-- テキストのバインディング -->
        <p>{{message}}</p>

        <!-- 繰り返しの描画 -->
        <ol>
            <li v-for="item in list">{{item}}</li>
        </ol>

        <!-- イベントの利用 -->
        <button v-on:click="handleClick">Click</button>

        <!-- フォーム入力の同期 -->
        <p>{{message}}</p>
        <input v-model.number="message">

        <!-- 条件分岐 -->
        <!-- <p v-if="show">Hello Vue.js!</p> -->

        <!-- トランジション＆アニメーション -->
        <button v-on:click="show=!show">切り替え</button>
        <transition>
            <p v-if="show">Hello Vue.js!</p>
        </transition>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>